BzrTools==2.1.0
Django==1.4
GnuPGInterface==0.3.2
PyICU==0.9
apturl==0.4.2ubuntu1
bzr==2.1.4
command-not-found==0.1
configobj==4.7.1
distribute==0.6.10
dj-database-url==0.2.1
paramiko==1.7.6
psycopg2==2.4.5
pycrypto==2.0.1
pycurl==7.19.0
python-apt==0.7.94.2ubuntu6.4
python-debian==0.1.14ubuntu2
ufw==0.30pre1-0ubuntu2
unattended-upgrades==0.1
virtualenv==1.4.5
wsgiref==0.1.2
