<!DOCTYPE html> 
<html> 
	<head> 
	<title>Geologic Time</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Configure</h1>
	</div><!-- /header -->

	<div data-role="content">	
	  <div data-role="fieldcontain">
	    <label for="select-start" label="select">Start:</label>
	    <select name="select-start" id="select-start" data-native-menu="false">
	      <option>Select Start</option>
	      <option value="hadean">Hadean</option>
	    </select>
	  </div>
	</div><!-- /content -->

	<div data-role="content">	
	  <div data-role="fieldcontain">
	    <label for="select-end" label="select">End:</label>
	    <select name="select-end" id="select-end">
	      <option>Select End</option>
	      <option value="hadean">Hadean</option>
	    </select>
	  </div>
	</div><!-- /content -->
	
	<div data-role="content">	
	  <div data-role="fieldcontain">
	    <label for="select-eon" label="select">Granularity:</label>
	    <select name="select-eon" id="select-eon">
	      <option>Select Scale</option>
	      <option value="eon">Eon</option>
	    </select>
	  </div>
	</div><!-- /content -->

	<div data-role="content">	
	  <div data-role="fieldcontain">
	    <label for="select-map" label="select">Map To:</label>
	    <select name="select-map" id="select-map" data-native-menu="false">
	      <option>Map To</option>
	      <option value="day">1 Day</option>
	      <option value="week">1 Week</option>
	      <option value="fortnight">1 Fortnight</option>

	      <option value="year">1 Year</option>
	    </select>
	  </div>
	</div><!-- /content -->

	<a href="alerts.html" data-role="button" data-icon="star">Alerts</a>
	
	<div data-role="footer">
	  <div data-role="navbar">
	    <ul>
	      <li><a href="/" data-icon="home" data-iconpos="top">Home</a></li>
	      <li><a href="/config" data-icon="gear" data-iconpos="top">Setup</a></li>
	      <li><a href="/help" data-icon="info" data-iconpos="top">Help</a></li>
	    </ul>
	  </div>
	</div>
</div><!-- /page -->

</body>
</html>