<!DOCTYPE html> 
<html> 
	<head> 
	<title>Geologic Time</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Look at the Geologic Time!</h1>
	</div><!-- /header -->
	
	<div data-role="content" style="margin-left: auto; margin-right: auto;">
	  <img src="https://lh4.googleusercontent.com/-tv0Kqz8cQ8k/T-yN1LksAeI/AAAAAAAAAMo/cyvu039ME1w/s287/permian2.png" alt="timescale" style="display: block; margin-left: auto; margin-right: auto;"/>
	</div>
	
	<div data-role="footer">
	  <div data-role="navbar">
	    <ul>
	      <li><a href="/" data-icon="home" data-iconpos="top">Home</a></li>
	      <li><a href="/config" data-icon="gear" data-iconpos="top">Setup</a></li>
	      <li><a href="/help" data-icon="info" data-iconpos="top">Help</a></li>
	    </ul>
	  </div>
	</div>
</div><!-- /page -->

</body>
</html>